/* 기본 색상 설정 */
:root {
	--primary-color: #6a4c9c; /* 보라색 계열 */
	--accent-color: #FFE942; /* 노란색 계열 */
	--button-hover-color: #8e44ad; /* 버튼 호버 색상 (진한 보라색) */
	--button-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* 버튼 그림자 */
}

/* 기본 body 스타일 */
body {	
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #f8f9fa;
	height: 100vh;	
	opacity: 0;
	transition: opacity 1s ease-in-out; /* 부드럽게 fade-in */
}
body.loaded {
	opacity: 1;
}

/* 전체 컨테이너 스타일 */
.container {
	width: 80%;
	margin: 50px auto;
	padding: 40px;
	background-color: #fff;
	border-radius: 15px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
h1 {
	text-align: center;
	font-size: 40px;
	color: var(--primary-color);
	margin-bottom: 50px;
	cursor: pointer;
}

/* 라벨 스타일 */
label {
	font-size: 16px;
	color: #5e3a8c;
}

/* 입력 필드 스타일 */
.form-control, .form-control-file {
	border-radius: 10px;
	border: 2px solid #ddd;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* 입력 필드 포커스 스타일 */
.form-control:focus, .form-control-file:focus {
	border-color: #7ed957;
	box-shadow: 0 0 5px rgba(94, 58, 140, 0.3);
	outline: none;
}

/* 기본 버튼 스타일 */
button.btn-primary {
	background-color: #9b59b6; /* 보라색 */
	color: white;
	font-size: 18px;
	padding: 12px 20px;
	border-radius: 30px;
	border: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	width: 100%;
	transition: background-color 0.3s;
}

/* 버튼 호버 효과 */
button.btn-primary:hover {
	background-color: var(--button-hover-color);/* 더 진한 보라색 */
	color: black;
}

/* 뒤로가기 버튼 스타일 */
.btn-back {
	background-color: var(--accent-color); /* 뒤로가기 버튼 배경색 */
	color: #5e3a8c;
	font-size: 16px;
	padding: 10px 20px;
	border-radius: 30px;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	text-decoration: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	border: none;
}

/* 뒤로가기 버튼 호버 효과 */
.btn-back:hover {
	background-color: #D8C217; /* 더 밝은 노란색 (호버 시) */
	color: white;
}

/* 폼 그룹 스타일 */
.form-group {
	margin-bottom: 25px;
	margin-top: 20px; /* "이름" 필드와 위 텍스트 간의 간격을 띄움 */
	display: block;
}

/* 폼 그룹 내 요소들 간의 스타일 */
.form-group label, .form-group input {
	display: block;
	margin-bottom: 10px; /* 각 요소들 간의 간격을 조정 */
}

/* 설명 텍스트 스타일 */
.form-description {
	font-size: 16px;
	color: #333;
	margin-bottom: 1px; /* 간격을 줄임 */
	line-height: 1.5;
}

/* 버튼 감싸는 div 스타일 */
.btn-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 50px;
}

.iframe-container {
	display: flex;
	justify-content: center;
	gap: 10px; /* 아이프레임 간격 */
	flex-wrap: wrap; /* 화면 크기에 따라 자동으로 줄 바꿈 */
}

iframe {
	max-width: 100%; /* 화면 크기에 맞게 최대 크기 설정 */
}