<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Hello Buddies</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="/css/createBuddy.css">
</head>
<body>
	<div class="container">
		<h1 onclick="reloadPage()">Bring a Buddy</h1>

		<p class="form-description">
			<span style="font-size: 20px; color: #e74c3c;">❤️</span> 당신의 새로운 버디를
			위해 이름과 프로필 사진을 입력하세요.
		</p>
		<p class="form-description">
			<span style="font-size: 20px; color: #e74c3c;">❤️</span> 버디를 사랑으로
			키우세요!
		</p>
		<form action="/buddy/createBuddy.do" method="post"
			enctype="multipart/form-data">
			<div class="form-group">
				<label for="name">Name</label> <input type="text" class="form-control"
					id="name" name="name" maxlength="50" placeholder="버디의 이름을 입력해주세요"
					required>
			</div>

			<!-- 프로필 사진 -->
			<div class="form-group">
				<label for="image">Profile Picture (option)</label> <input type="file"
					class="form-control-file" id="image" name="image" accept="image/*"
					aria-label="버디 프로필 사진 선택">
			</div>

			<!-- 아이프레임들 중앙 정렬 -->
			<div class="iframe-container">
				<iframe src="https://coupa.ng/chdILP" width="120" height="240"
					frameborder="0" scrolling="no" referrerpolicy="unsafe-url"
					browsingtopics></iframe>
				<iframe src="https://coupa.ng/chdK8H" width="120" height="240"
					frameborder="0" scrolling="no" referrerpolicy="unsafe-url"
					browsingtopics></iframe>
				<iframe src="https://coupa.ng/chdK8P" width="120" height="240"
					frameborder="0" scrolling="no" referrerpolicy="unsafe-url"
					browsingtopics></iframe>
				<iframe src="https://coupa.ng/chdK8Y" width="120" height="240"
					frameborder="0" scrolling="no" referrerpolicy="unsafe-url"
					browsingtopics></iframe>
				<iframe src="https://coupa.ng/chdK9o" width="120" height="240"
					frameborder="0" scrolling="no" referrerpolicy="unsafe-url"
					browsingtopics></iframe>
			</div>

			<button type="submit" class="btn btn-primary">Done</button>
		</form>
	</div>

	<!-- 하단에 고정된 뒤로 가기 버튼 -->
	<div class="btn-wrapper">
		<button type="button" class="btn-back" onclick="goBack()">Back</button>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
	<script>
		// 페이지 새로고침 함수
		function reloadPage() {
			location.reload(); // 페이지 새로고침
		}

		// 뒤로 가기 함수
		function goBack() {
			window.history.back(); // 이전 페이지로 돌아가기
		}
	</script>
	<script src="/js/common/windowOnLoad.js"></script>
</body>
</html>
