<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Hello Buddies</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="/css/buddyList.css">
</head>
<body>
	<div class="container">
		<h1 onclick="refreshPage()">Hello Buddies</h1>
		<!-- 타이틀 클릭 시 새로고침 함수 호출 -->

		<div class="search-container"
			style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
			<input type="text" id="searchInput" class="search-input"
				placeholder="이름 검색..." onkeyup="searchBuddy()" maxlength="50">
		</div>

		<table id="buddyTable">
			<thead>
				<tr>
					<th onclick="sortTable(0, 'number')">Birth Order</th>
					<th onclick="sortTable(1, 'string')">Name</th>
					<th title="Level" onclick="sortTable(2, 'number')"><i
						class="fas fa-star"></i></th>
					<th title="Hunger" onclick="sortTable(3, 'number')"><i
						class="fas fa-utensils icon"></i></th>
					<th title="Fatigue" onclick="sortTable(4, 'number')"><i
						class="fas fa-bed icon"></i></th>
					<th title="Happiness" onclick="sortTable(5, 'number')"><i
						class="fas fa-sun icon"></i></th>
					<th
						title="(100 - Hunger) * 0.2 + (100 - Fatigue) * 0.3 + Happiness * 0.5) / 3, avg:16.6"
						onclick="sortTable(6, 'string')">Condition</th>
					<th title="Take Care of your Buddies!">Detail</th>
				</tr>
			</thead>
			<tbody id="buddyTableBody">
				<!-- 버디 목록을 순회하며 출력 -->
				<tr th:each="buddy, iterStat : ${buddies}">
					<td th:text="${buddy.buddyId}"></td>
					<td th:text="${buddy.name}"></td>
					<td title="최고의 상태가 되면 진화합니다." id="levelNumber"
						th:text="'Lv. ' + ${buddy.levelNumber}"></td>

					<td title="Hunger(은)는 0%가 최고의 상태입니다." id="hunger"
						th:text="${buddy.hunger} + '%'"
						th:attr="style='color: ' + (${buddy.hunger} >= 80 ? 'red' : 'black')">
					</td>
					<td title="Fatigue(은)는 0%가 최고의 상태입니다." id="fatigue"
						th:text="${buddy.fatigue} + '%'"
						th:attr="style='color: ' + (${buddy.fatigue} >= 80 ? 'red' : 'black')">
					</td>
					<td title="Happiness(은)는 100%가 최고의 상태입니다." id="happiness"
						th:text="${buddy.happiness} + '%'"
						th:attr="style='color: ' + (${buddy.happiness} <= 30 ? 'red' : 'black')">
					</td>

					<td class="status" id="status"
						th:classappend="${((100 - buddy.hunger) * 0.2 + (100 - buddy.fatigue) * 0.3 + buddy.happiness * 0.5) / 3 
					                        >= 16.6 ? 'active' : 'inactive'}">
						<!-- 상태에 따라 다른 아이콘을 표시 --> <span
						th:class="${((100 - buddy.hunger) * 0.2 + (100 - buddy.fatigue) * 0.3 + buddy.happiness * 0.5) / 3 >= 16.6 ? 'fas fa-smile-beam fa-2x' : 'fas fa-sad-tear fa-2x'}"></span>
						<span class="status-tooltip"
						th:text="${((100 - buddy.hunger) * 0.2 + (100 - buddy.fatigue) * 0.3 + buddy.happiness * 0.5) / 3} + '점'"></span>
					</td>
					<td><a href="/buddy/openBuddyDetail.do?buddyId="
						th:attrappend="href=${buddy.buddyId}" class="btn btn-secondary">Care</a></td>
				</tr>
				<tr id="noDataRow" style="display: table-row;">
					<td colspan="8"
						style="text-align: center; padding: 20px; font-size: 18px; color: #777;">
						조회된 버디가 없습니다.</td>
				</tr>
			</tbody>
		</table>
		<div
			style="display: flex; justify-content: center; align-items: center; margin-bottom: 20px;">
			<a href="https://link.coupang.com/a/cclF9s" target="_blank"
				referrerpolicy="unsafe-url"> <img
				src="https://ads-partners.coupang.com/banners/835093?subId=&traceId=V0-301-7e6e8eb8ddfa1bfb-I835093&w=728&h=90"
				alt="">
			</a>
		</div>

		<div
			style="display: flex; align-items: center; justify-content: space-between;">
			<!-- 새로 입양하기 버튼 -->
			<a href="/buddy/createBuddy.do" class="btn btn-primary">Adopt</a>

			<!-- 버디와 함께하는 시간 표시 텍스트 -->
			<div class="responsibility-text" style="margin-left: 0;"
				onclick="window.location.href='https://link.coupang.com/a/cb4hoF';">
				나는 <span id="activeBuddyCount" class="buddy-count">0</span> 마리의 버디와
				소중한 시간을 함께하고 있어요.
			</div>

			<!-- 하루 건너뛰기 버튼 -->
			<form id="frm" method="post">
				<input type="hidden" name="state" id="state">
				<!-- state 값이 전달되도록 hidden 필드 추가 -->
				<button class="btn btn-day" id="btnDay" type="button" name="state"
					value="Day" title="버디의 하루는 30초 입니다." aria-label="하루 건너뛰기">Skip
					a Day</button>
			</form>
		</div>
	</div>

	<!-- 버튼을 감싸는 wrapper 추가 -->
	<div class="btn-wrapper">
		<a href="/index.html" class="btn-back">Back</a>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
	<script src="/js/common/alert.js"></script>
	<script th:if="${not #strings.isEmpty(alertMessage)}"
		type="text/javascript">
		var alertMessage = '[[${alertMessage}]]';
		var action = "success";

		displayAlert(alertMessage, action); // alertMessage가 있을 때만 alert
	</script>
	<script src="/js/buddyList.js"></script>
</body>
</html>