<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My-Tama-Friend</title>
   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/tamagotchiDetail.css">
</head>
<body>
    <div class="container">
        <!-- 프로필 이미지 -->
        <div class="profile-section">
        	
        	  <div class="image-container">
		        <!-- 이미지가 등록되어 있을 경우 -->
				<a th:if="${not #lists.isEmpty(tamagotchi.fileInfoList)}" 
				   th:href="@{${tamagotchi.fileInfoList[0].imageUrl}}" download>
				    <img th:src="@{${tamagotchi.fileInfoList[0].imageUrl}}" alt="프로필 사진" class="profile-image">
				</a>

		        <!-- 이미지가 등록되지 않았을 경우 -->
		        <a th:if="${#lists.isEmpty(tamagotchi.fileInfoList)}" 
		           th:href="@{/images/default-image.jpg}" download>
		            <img th:src="@{/images/default-image.jpg}" alt="기본 프로필 사진" class="profile-image">
		        </a>
		    </div>
            <div class="tamagotchi-name">
                <span th:text="${tamagotchi.name}"></span>
            </div>
            <div class="tamagotchi-status" 
			     th:classappend="${((100 - tamagotchi.hunger) * 0.2 + (100 - tamagotchi.fatigue) * 0.3 + tamagotchi.happiness * 0.5) / 3 >= 16.6 
			     						? 'happy' : 'sad'}">
			    <span th:text="${((100 - tamagotchi.hunger) * 0.2 + (100 - tamagotchi.fatigue) * 0.3 + tamagotchi.happiness * 0.5) / 3 >= 16.6 
			    						? '&quot;너무 행복해요!&quot;' : '&quot;슬퍼요, 도와주세요!&quot;'}"></span>
			</div>
        </div>

        <!-- 타마고치 정보 테이블 -->
        <div class="table-section">
            <table class="table table-bordered" id="tamagotchiTable">
		    <tbody>
		        <tr>
		            <td title="레벨" style="text-align: right;"><strong><i class="fas fa-star icon"></i>레벨</strong></td>
		            <td style="text-align: center;">
		            	<span id="levelNumber" title="최고의 상태가 되면 진화합니다." 
		            	  	  th:text="'Lv. ' + ${tamagotchi.levelNumber}">
						 </span>
					</td>
		        </tr>
		        <tr>
		            <td title="배고픔은 0%가 최고의 상태입니다." style="text-align: right;"><strong><i class="fas fa-utensils icon"></i>배고픔</strong></td>
		            <td style="text-align: center;">
		            	<span id="hunger" title="0%가 최고의 상태입니다." 
		            	  	  th:text="${tamagotchi.hunger} + '%'"
		            	  	  th:attr="style='color: ' + (${tamagotchi.hunger} >= 80 ? 'red' : 'black')">
						 </span>
					</td>
		        </tr>
		        <tr>
		            <td title="피로도는 0%가 최고의 상태입니다." style="text-align: right;"><strong><i class="fas fa-bed icon"></i>피로도</strong></td>
		            <td style="text-align: center;">
		            	<span id="fatigue" title="0%가 최고의 상태입니다." 
		            		  th:text="${tamagotchi.fatigue} + '%'" 
		            		  th:attr="style='color: ' + (${tamagotchi.fatigue} >= 80 ? 'red' : 'black')">
						</span>
					</td>
		        </tr>
		        <tr>
		            <td title="행복도는 100%가 최고의 상태입니다." style="text-align: right;"><strong><i class="fas fa-sun icon"></i>행복도</strong></td>
		            <td style="text-align: center;">
					    <span id="happiness" title="100%가 최고의 상태입니다."
					          th:text="${tamagotchi.happiness} + '%'" 
						      th:attr="style='color: ' + (${tamagotchi.happiness} <= 30 ? 'red' : 'black')">
						 </span>
					</td>
		        </tr>
		         <tr>
		            <td style="text-align: right;"><strong><i class="fas fa-calendar-alt icon"></i>탄생 일시</strong></td>
		            <td style="text-align: center;">
		                <span th:text="${tamagotchi.createDt}"></span>
		                (나의 <span th:text="${tamagotchi.tamagotchiId}"></span>번째 타마)
		            </td>
		        </tr>
		    </tbody>
		</table>

        </div>

        <!-- 상태 변경 버튼들 -->
        <form id="frm" method="POST">
		    <input type="hidden" name="tamagotchiId" th:value="${tamagotchi.tamagotchiId}"/>
		    <input type="hidden" name="state" id="state">  <!-- state 값이 전달되도록 hidden 필드 추가 -->
		    
		    <div class="btn-group mb-3" role="group" style="width: 100%;">
		   		<button class="btn btn-hunger" id="btnHunger" type="button" name="state" value="hunger">밥주기</button>
		   		<button class="btn btn-sleep" id="btnSleep" type="button" name="state" value="sleep">잠재우기</button>
		        <button class="btn btn-play" id="btnPlay" type="button" name="state" value="play">놀아주기</button>  
		    </div>
		
		    <!-- 입양 보내기 버튼 -->
			<div class="text-center" >
			    <!-- 사용자 메시지 표시용 div -->
				<div class="alert-message"></div>
				<button class="btn btn-delete w-100" id="btnDelete" type="button" name="state" value="delete" aria-label="입양 보내기">입양 보내기</button>
			</div>
		</form>
    </div>
    
    <!-- 하단에 고정된 뒤로 가기 버튼 -->
    <div class="btn-wrapper">
    	<button type="button" class="btn-back" id="btnList" name="list" value="list">목록으로 가기</button>
    </div> 
    
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="/js/alert.js"></script>
    <script th:if="${not #strings.isEmpty(alertMessage)}" type="text/javascript">
	    var alertMessage = '[[${alertMessage}]]';
	    var action = "success";
	   
	    displayAlert(alertMessage, action);  // alertMessage가 있을 때만 alert
	</script>
	<script src="/js/tamagotchiDetail.js"></script>
</body>
</html>
